.login-animation-container{
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-container{
    position: relative;
}
.cloud-one,
.cloud-two{
    color: #87ceeb;
    font-size: 64px;
    position: absolute;
    z-index: 3;
}
.sun{
    color: #f9d71c;
    font-size: 64px;
    position: absolute;
    left: 45px;
    animation: sunAnimation 3s linear infinite;
}
.cloud-one{
    animation: cloudOneAnimation 3s linear infinite;
    left: -15px;
}
.cloud-two{
    left: 90px;
    animation: cloudTwoAnimation 3s linear infinite;
}
.business-logo{
    margin-bottom: 40%;
    font-size: 36px;
    color:  #87ceeb;
    font-weight: bold;
}
@keyframes cloudOneAnimation {
    0%{
        left: -30px;
    }
    50%{
        left: 0;
    }
    100%{
        left: -30px;
    }
}
@keyframes sunAnimation{
    0%{
        left: 30px;
    }
    50%{
        left: 60px;
    }
    100%{
        left: 30px;
    }
}
@keyframes cloudTwoAnimation{
    0%{
        left: 75px;
    }
    50%{
        left: 105px;
    }
    100%{
        left: 75px;
    }
} 