:root{
	--cloud--color: #489ce9;
	--sun--color: #f58c59;
}
.github-logo{
	position: absolute;
	bottom: 25px;
}
.github-logo a i{
          font-size: 32px;
          color: black;
}
.login-animation{
          display:none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.icons-area{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
}
.cloud-one,
.cloud-two{
	color: var(--cloud--color);
	font-size: 48px;
	z-index: 2;
}
.cloud-one{
	animation: cloudMove 4s linear infinite;
}
@keyframes cloudMove{
	0%{
		margin-right: 0;
	}
	50%{
		margin-right: 40px;
	}
	100%{
		margin-right: 0px;
	}
}
.icons-area-sun{
	color: var(--sun--color);
	font-size: 48px;
	position: absolute;
	top: 0;
	left: 50px;
}
.animation-dynamic-text {
	margin-top: 25px;
	color: #b4b4b4;
	display: flex;
	align-items: center;
	font-size: 24px;
	justify-content: center;
	flex-direction: column;
	animation: dynamicText 3s infinite;
}
@keyframes dynamicText{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.app-container {
          display: flex;
          color: #6B728E;
          background-color: rgba(237, 240, 245, 0.1);
          border-radius: 32px;
          box-shadow: 16px 16px 32px #d9dde9;
          border: 1px solid rgba(237, 240, 245, 0.75);
          width: 80%;
          height: 70vh;
}
.left-side{
          width: 25%;
          border-radius: 32px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          height: 100%;
          border-right: 2px solid rgba(0,0,0,0.1);
}
.right-side{
          width: 75%;
          height: 100%;
}
.left-side nav {
          font-size: 24px;
          margin-top: 2vh;
          display: grid;
          grid-template-columns: 85% 15%;
          place-items: center;
}
.left-side nav .location-container{
          grid-column: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
}
.left-side nav .edit-location{
          grid-column: 2;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          position: relative;
}
.left-side nav .edit-location div{
          font-size: 12px;
          padding: 8px;
          display: flex;
          align-self: center;
          justify-content: center;
          border-radius: 16px;
          background: rgba(0, 255, 255,0.001);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(3.3px);
          -webkit-backdrop-filter: blur(3.3px);
          opacity: 0;
          transition: 0.3s all ease;
          position: absolute;
          top: 32px;
          width: 100px;
          z-index: 3;
}

.left-side nav .edit-location:hover div {
          opacity: 1;
}
.left-side .weather-info {
          margin-top: 2vh;
}
.left-side .weather-info .temp-area{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          font-size: 24px;
}
.left-side sup{
          font-size: 12px;
}
.left-side .weather-info .temp-area img{
          width: 48px;
          height: 48px;
}
.left-side .weather-info .other-weather-infos{
          margin-top: 2vh;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
}
.left-side .weather-info .other-weather-infos div{
          border-radius: 16px;
          font-size: 1em;
          width: 25%;
          transition: 0.3s all ease;
          height: 64px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding-top: 16px;
          cursor: pointer;
}
.left-side .weather-info .other-weather-infos div p{
          margin-top: 8px;
}
.left-side .weather-info .other-weather-infos div:nth-child(3) p{
          margin-top: 12px;
}
.left-side .weather-info .other-weather-infos div:hover{
          background: rgba(255, 255, 255, 0.01);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(3.3px);
          -webkit-backdrop-filter: blur(3.3px);
}