.weather-sun{
    color: #f9d71c;
}
.weather-cloud{
    color: #87ceeb;
}
.weather-rain{
    color: #C4D3DF;
}
.weather-snow{
    color: #ffffff;
}
.weather-hot-temperature{
    color: #FF8787;
}
.weather-cold-temperature{
    color: #87ceeb;
}
.weather-cloud-sun{
    position: relative;
}
sup{
    font-size: 10px;
}